{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <title>Write Layout</title>
</head>

<body>
  {%block contents%}
  <div class="container">
    <br>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/write"> Write </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/"> Read </a>
      </li>

    </ul>

  </div>
  <hr><br><br><br>
  <div class="container">

    <form method="POST" action="{%url 'writeprocess'%}">
      {%csrf_token%}
      <div class="form-group">
        <label for="examplefortitle">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter the title" maxlength="50">
        <small id="title help" class="form-text text-muted">Title must written by 50 charaters</small>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleforsubtitle">Subtitle</label>
        <input type="text" class="form-control" name="subtitle" placeholder="Enter the subtitle" maxlength="100">
        <small id="title help" class="form-text text-muted">Subtitle is shown by card in mainlayout / Subtitle must written by 100 charaters</small>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleforcontent">Subtitle</label>
        <textarea type="text" class="form-control" name="content" placeholder="Enter the content" rows = "6"></textarea>
        <small id="title help" class="form-text text-muted">Contents are not shown main layout</small>
      </div>
      <button type="submit" class = "btn btn-primary" name="write"> alright! Write this! </button>

    </form>

  </div>


  <script src='{% static "js/jquery.js" %}'></script>
  <script src='{% static "js/bootstrap.js" %}'></script>
  {%endblock %}
</body>

</html>
